html{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    position: relative;
}

body{
    margin-bottom: 60px;
}
.container-app{
 padding: 0px;
 margin : 0px;    
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    height: 120px;
    /*background: #F00000;*/ 
    border-bottom: 2px solid #000000;
    color:  #000000;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

}
.button-login{
    margin-right : 20px;
}
.logo{
    
    width : 100px;
    height: 100px;
    
}
.logo img{
    margin-left : 40px;
}
.title-heading h5{
    font-weight: bold;
    margin-right: 10px;
}
.title-heading h3{
    margin-top : 0px;
    margin-bottom : 0px;
    font-weight: bold;
}
.title-heading h4{
    margin-top : 5px;
    margin-bottom : 0px;
    font-weight: bold;
}
.navbar{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+100,cf0404+100 */
    background: rgb(255,48,25); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,48,25,1) 100%, rgba(207,4,4,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 100%,rgba(207,4,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,48,25,1) 100%,rgba(207,4,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

    border-bottom: 2px solid #000000;
}

.navbar .container a{
    color : #000000;
    font-weight: bold;
}
.navbar .container h4{
    color : #000000;
    font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebe9f9+0,d8d0ef+50,cec7ec+51,c1bfea+100;Purple+3D+%231 */
    
}

.info-welcome{
    border-right: 1px dotted #000000;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.container-content{
    margin-left : 100px;
    margin-right : 100px; 
}

@media screen and (max-width: 750px) {
    .logo img{
        margin-left : 20px;
    }
    .title-heading h5{
        font-weight: bold;
        font-size: 10px;
        margin-right: 10px;
    }
    .title-heading h3{
        margin-top : 0px;
        font-size: 16px;
        margin-bottom : 0px;
        font-weight: bold;
    }
    .title-heading h4{
        margin-top : 5px;
        font-size: 12px;
        margin-bottom : 0px;
        font-weight: bold;
    }
}